/.settings
/target/
*.iws
*.log
*.zip
plugin.xml
.DS_Store
/web-app/
.idea
grails-hibernate-filter.iml
hibernate-filter-plugin/hibernate-filter-plugin.iml
hibernate-filter-plugin/build

hibernate-filter-example/hibernate-filter-example.iml
hibernate-filter-example/build
.classpath
.project
