<plugin name='hibernate-filter' version='0.1.7' grailsVersion='1.1 &gt; *'>
  <author>Scott Burch</author>
  <authorEmail>scott@bulldoginfo.com</authorEmail>
  <title>Integrates Hibernate filtering into Grails</title>
  <description>\
Integrates Hibernate filtering into Grails
</description>
  <documentation>http://grails.org/HibernateFilter+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>HibernateFilterFilters</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>